<!DOCTYPE html>
<html lang="en">

<head>
    <title>Service on Demand Admin Panle</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/public/css/matrix-login.css" />
    <link href="/public/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

</head>

<body>
    <div id="loginbox">
        <form class="form-vertical" action="/" method="POST">
            <div class="control-group normal_text">
                <h3>Service on Demand<br />Admin Panel</h3>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user"> </i></span>
                        <input type="email" placeholder="Enter Email" name="userEmail" required />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                        <input type="password" placeholder="Enter Password" required name="userPassword" />
                    </div>
                </div>
            </div>
            <% if (error != "" ){ %>
            <div class="form-group form-success-gone">
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            </div>
            <% } %>
            <div class="form-actions">
                <span class="pull-right">
                    <input type="submit" class="btn btn-success" value="LOGIN" />
                </span>
            </div>
        </form>
    </div>
</body>

</html>