<% extend('../../admin_layout.ejs') %>
<div id="content-header">
    <div id="breadcrumb"> <a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-dashboard"></i>
            Dashboard</a> <a href="#">Categories</a> <a href="#" class="current">All Categories</a> </div>
    <h1>Listing All Categories</h1>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                            <h5>LISTING ALL CATEGORIES</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Show Detail</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach(cat => { %>
                                    <tr>
                                        <td>
                                            <img src="<%= cat.val().url %>" style="border-radius: 50%; width: 90px;"
                                                class="img-responsive img-thumbnail" />
                                        </td>
                                        <td><%= cat.val().name %></td>
                                        <td><a href="#" class="btn btn-block btn-primary">SHOW DETAIL</a></td>
                                        <td><a href="#" class="btn btn-block btn-warning">EDIT DETAIL</a></td>
                                    </tr>
                                    <% }); %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>