<% extend('../../admin_layout.ejs') %>
<div id="content-header">
    <div id="breadcrumb"> <a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-dashboard"></i>
            Dashboard</a> <a href="#">Bookings</a> <a href="#" class="current">All Vendors</a> </div>
    <h1>List All Vendors</h1>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                            <h5>LISTING ALL VENDORS</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Phone Number</th>
                                        <th>Category</th>
                                        <th>Show Detail</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach(vendor => { %>
                                        <tr>
                                            <td>Image</td>
                                            <td><%= vendor.val().firstName %> <%= vendor.val().lastName %></td>
                                            <td><%= vendor.val().phone %> </td>
                                            <td><%= vendor.val().category %></td>
                                            <td><a href="#" class="btn btn-block btn-primary">SHOW DETAIL</a></td>
                                            <td><a href="#" class="btn btn-block btn-warning">EDIT DETAIL</a></td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
