<% extend('../../admin_layout.ejs') %>
<div id="content-header">
    <div id="breadcrumb"> <a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-dashboard"></i>
            Dashboard</a> <a href="#">Vendors</a> <a href="#" class="current">Create Vendor</a> </div>
    <h1>Create New Vendor</h1>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>Create New Vendor</h5>
                </div>
                <div class="widget-content nopadding">
                    <form class="form-horizontal" method="POST" action="/admin/createVendor">
                        <div class="control-group">
                            <label class="control-label">First Name</label>
                            <div class="controls">
                                <input type="text" name="firstName" required >
                            </div>

                            <div class="control-group">
                            <label class="control-label">Last Name</label>
                            <div class="controls">
                                <input type="text" name="lastName" required>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Your Email</label>
                            <div class="controls">
                                <input type="Email" name="email" required>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Phone Number</label>
                            <div class="controls">
                                <input type="tel" name="phoneNumber" required>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Category</label>
                            <div class="controls">
                                <select name="category" required>
                                    <option value="Electrician">Electrician</option>
                                    <option value="Electrician">Plumber</option>
                                    <option value="Electrician">AC</option>
                                    <option value="Electrician">Electrician</option>
                                    <option value="Electrician">Electrician</option>
                                    <option value="Electrician">Electrician</option>
                                    <option value="Electrician">Electrician</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Per hour Charge</label>
                            <div class="controls">
                                <input type="Number" name="perHourCharge" required>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" value="SAVE VENDOR" class="btn btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>