<% extend('../../admin_layout.ejs') %>
<!--breadcrumbs-->
<div id="content-header">
  <div id="breadcrumb"> <a href="/admin" title=" Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
</div>
<!--End-breadcrumbs-->

<!--Action boxes-->
<div class="container-fluid">

  <div class="quick-actions_homepage">

    <ul class="quick-actions">
      <li class="bg_lb">
        <a href="/admin/allCategories">
          <i class="icon-th-large"></i>
          <span class="label label-important"><%= count.categories %></span> Categories
        </a>
      </li>
      <li class="bg_lg span3">
        <a href="/admin/allVendor">
          <i class="icon-group"></i>
          <span class="label label-important"><%= count.vendors %></span>All Vendors
        </a>
      </li>
      <li class="bg_ly">
        <a href="/admin/allUser">
          <i class="icon-group"></i>
          <span class="label label-success"><%= count.users %></span>
          All Users
        </a>
      </li>
      <li class="bg_ly">
        <a href="/admin/allBooking">
          <i class="icon-bar-chart"></i>
          <span class="label label-success"><%= count.bookings %></span>
          All Bookings
        </a>
      </li>
    </ul>
  </div>
  <!--End-Action boxes-->

</div>