<% extend('../../admin_layout.ejs') %>
<div id="content-header">
    <div id="breadcrumb"> <a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-dashboard"></i>
            Dashboard</a> <a href="#">Users</a> <a href="#" class="current">User Detail</a> </div>
    <h1>User Detail</h1>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                            <h5><%= data.firstName %>'s DETAIL</h5>
                        </div>
                        <div class="widget-content nopadding">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>